spotipy
python-dotenv
werkzeug
Flask
flask-restx
click
gunicorn
eventlet
Flask-Login
Flask-SQLAlchemy
Flask-Bootstrap
Flask-APScheduler
Flask-WTF
py-sonic
ffmpeg
spotdl
sqlalchemy==2.0.51
pyarr
expiringdict
musicbrainzngs
alembic1==1.18.5
dnspython
dominate
greenlet
idna
importlib-metadata
importlib-resources
itsdangerous
Jinja2
Mako
MarkupSafe
visitor
WTForms
zipp
pygtail
Flask-SocketIO
